# Python
*.pyc
*.log
__pycache__/
.venv/
.env

# Django
media/ # If you set up a media directory for user-uploaded files, it should generally be ignored
staticfiles/ # This is your STATIC_ROOT, which will be built on deployment

# IDE/Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

node_modules/

# Operating System files
.DS_Store
Thumbs.db